@{
    ViewBag.Title = "Shortest Path";
    var nodes = ViewBag.Nodes as List<string>;
}
<h2>Shortest Path Finder</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label>From Node:</label>
    @Html.DropDownList("fromNode", new SelectList(nodes))
    <br />

    <label>To Node:</label>
    @Html.DropDownList("toNode", new SelectList(nodes))
    <br />

    <input type="submit" value="Find Path" />
}
@if (ViewBag.Path != null && ViewBag.From != null && ViewBag.To != null)
{
    <p>>fromNodeName = "@ViewBag.From", toNodeName = "@ViewBag.To": @ViewBag.Path</p>
    <p>>Total Distance: @ViewBag.Distance</p>
}

